@model InvWebApp.Models.User;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Simple.cshtml";
}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="/images/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form" asp-controller="Admin" asp-action="Login" method="post" >
				<span class="login100-form-title">
					Admin Login
				</span>

				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<input class="input100" type="text" name="Username" placeholder="Username" asp-for="UserName">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<input class="input100" type="password" name="Password" placeholder="Password" asp-for="Password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" asp-for="KeepLoggedIn"> Remember Me
					</label>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Login
					</button>
				</div>
				<a href="\Admin\Register">register</a>
				<br />
				@if (ViewData["ValidateMessage"] != null)
				{
					<label class="text-danger">@ViewData["ValidateMessage"]</label>
				}
				

				
			</form>
		</div>
	</div>
</div>


