@model InvWebApp.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Simple.cshtml";
}




<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="/images/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form" asp-controller="Admin" asp-action="Register" method="post">
				<span class="login100-form-title">
					Register
				</span>

				<div class="wrap-input100 validate-input" data-validate="Valid Username is required">
					<input class="input100" type="text" name="UserName" placeholder="Username" asp-for="UserName">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
					
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Password is required">


					<input class="input100" type="password" name="Password" placeholder="Password" asp-for="Password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
					
				</div>
				
				<div class="@ViewBag._class" role="alert">
					<span asp-validation-for="UserName"></span>
					<span asp-validation-for="Password"></span>
				</div>
				
			

				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						Register
					</button>
				</div>
				
				<br />
				



			</form>
		</div>
	</div>
</div>




