<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManagementSystem</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-sy1z8Z2hWrlOF6/8MJkd+/f6ue8N6NDPNO0u+fuEK2jq8r3ntjvvgeMRQXkCQjYPlH7di0L7krVKdWqHBZswjw==" crossorigin="anonymous" />

    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/InventoryManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
	
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
